apiVersion: apps/v1
kind: Deployment
metadata:
  name: mariadb
  namespace: postal
  labels:
    app: postal
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postal
  template:
    metadata:
      labels:
        app: postal
    spec:
      containers:
      - name: postal-mariadb
        image: mariadb #registry.redhat.io/rhel8/mariadb-105
        ports:
        - containerPort: 3306
        env:
        - name: MARIADB_ALLOW_EMPTY_PASSWORD
          value: "true"
        - name: MYSQL_USER
          value: root
          # valueFrom:
          #   secretKeyRef:
          #     name: mariadb-secret
          #     key: username
        - name: MYSQL_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mariadb-secret
              key: password
        - name: MARIADB_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mariadb-secret
              key: password
        - name: MARIADB_DATABASE
          value: postal
        volumeMounts:
        - name: mariadb-vol
          mountPath: /var/lib/mysql
        # - name: remote-conf
        #   mountPath: /etc/my.cnf.d/remote.cnf
        #   subPath: remote.cnf
      volumes:
      - name: mariadb-vol
        persistentVolumeClaim:
          claimName: postal-mariadb-vol
      # - name: remote-conf
      #   configMap:
      #     name: remote-conf
---
apiVersion: "v1"
kind: "PersistentVolumeClaim"
metadata:
  name: "postal-mariadb-vol"
  namespace: postal
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: "thin"
  volumeMode: Filesystem